/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints (darker version):
    - #fdf2e9
    - #fae5d3
    - #eb984e
- Shades (lighter version):
    - #cf711f
    - #45260a
- Accents:
- Greys:
    - #888
    - #767676 (lightest grey allowed on #ffffff)
    - #6f6f6f (lightest grey allowed on #fdf2e9)
    - #555
    - #333

--- 05 SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, .075);

--- 06 BORDER_RADIUS
Default: 9px
Medium: 11px

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
}

html {
    /* font-size: 10px;
    10px / 16px => 62.5% */
    font-size       : 62.5%;
    /*scroll-behavior : smooth;*/
}

body {
    font-family : "Rubik", sans-serif;
    line-height : 1;
    font-weight : 400;
    color       : #555;

    /* permet de cacher le menu déroulant de la version mobile*/
    /* ne marche que si il n'y a rien en position: absolute par rapport au body */
    overflow-x  : hidden;
}


*:focus {
    /*outline: none; /* à ne pas faire seul */
    /*outline: 4px dotted #e67e22;*/
    /*outline-offset: 8px;*/
    outline    : none;
    box-shadow : 0 0 0 .8rem rgba(230, 126, 34, 0.5);
}

/**********************************/
/****** GENERAL REUSABLE COMPONENTS ********/
/**********************************/

.container {
    /* 1140px */
    max-width : 120rem;
    padding   : 0 3.2rem;
    margin    : 0 auto;
}

.grid {
    display    : grid;
    column-gap : 6.4rem;
    row-gap    : 9.6rem;
}

.grid:not(:last-child) {
    margin-bottom : 9.6rem;
}

.grid--2-cols {
    grid-template-columns : repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns : repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns : repeat(4, 1fr);
}

.grid--center-v {
    align-items : center;
}

.heading-primary, .heading-secondary, .heading-tertiary {
    font-weight    : 700;
    letter-spacing : -.5px;
    color          : #333;
}

.heading-primary {
    line-height   : 1.05;
    font-size     : 5.2rem;
    margin-bottom : 3.2rem;
}

.heading-secondary {
    margin-bottom : 9.6rem;
    font-size     : 4.4rem;
    line-height   : 1.2;
}

.heading-tertiary {
    margin-bottom : 3rem;
    font-size     : 3.6rem;
    line-height   : 1.2;
}

.subheading {
    display        : block;
    margin-bottom  : 1.6rem;
    font-size      : 1.6rem;
    font-weight    : 500;
    color          : #cf711f;
    text-transform : uppercase;
    letter-spacing : .75px;
}

.btn, .btn:link, .btn:visited {
    display         : inline-block;
    font-size       : 2rem;
    text-decoration : none;
    font-weight     : 600;
    padding         : 1.6rem 3.2rem;
    border-radius   : 9px;

    border          : none;
    cursor          : pointer;
    font-family     : inherit;

    transition      : all .3s;
}

.btn--full:link, .btn--full:visited {
    background-color : #e67e22;
    color            : #fff;
}

.btn--full:hover, .btn--full:active {
    background-color : #cf711f;
}

.btn--outline:link, .btn--outline:visited {
    background-color : #fff;
    color            : #555;
}

.btn--outline:hover, .btn--outline:active {
    background-color : #fdf2e9;
    /*border: 3px solid #fff;*/
    box-shadow       : inset 0 0 0 3px #fff;
}

.btn--form {
    align-self       : end;
    padding          : 1.2rem;
    background-color : #45260a;
    color            : #fdf2e9;
}

.btn--form:hover {
    background-color : #fff;
    color            : #555;
}

.link:link,
.link:visited {
    display         : inline-block;
    padding-bottom  : 2px;
    color           : #e67e22;
    text-decoration : none;
    border-bottom   : 1px solid currentColor;
    transition      : all .3s;
}

.link:hover,
.link:active {
    color         : #cf711f;
    border-bottom : 1px solid transparent;
}

.list {
    display        : flex;
    flex-direction : column;
    gap            : 1.6rem;
    list-style     : none;
}

.list-item {
    display     : flex;
    align-items : center;
    gap         : 1.6rem;
    font-size   : 1.8rem;
    line-height : 1.2;
}

.list-icon {
    width  : 3rem;
    height : 3rem;
    color  : #e67e22;
}


/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
    margin-right : 1.6rem !important;
}

.margin-bottom-md {
    margin-bottom : 4.8rem !important;
}

.center-text {
    text-align : center;
}

strong {
    font-weight : 500;
}
