/**********************************/
/****** BELOW 1344px (smaller desktops ********/
/**********************************/

/* 1350 / 16px = 84 */
@media (max-width : 84em) {
    .hero {
        max-width : 120rem;
    }

    .heading-primary {
        font-size : 4.4rem;
    }

    .gallery {
        grid-template-columns : repeat(2, 1fr);
    }
}

/**********************************/
/****** BELOW 1200px (landscape tablets ********/
/**********************************/

@media (max-width : 75em) {
    html {
        font-size : 56.25%;
    }

    .grid {
        column-gap : 4.8rem;
        row-gap    : 6.4rem;
    }

    .heading-secondary {
        font-size : 3.6rem;
    }

    .heading-tertiary {
        font-size : 2.4rem;
    }

    .header {
        padding : 0 3.2rem;
    }

    .main-nav-list {
        gap : 3.2rem;
    }

    .hero {
        gap : 4.8rem;
    }

    .testimonials-container {
        padding : 9.6rem 3.2rem;
    }
}

/**********************************/
/****** BELOW 944px (Tablets ********/
/**********************************/

@media (max-width : 59em) {
    /* 8px / 16px = 50% */
    html {
        font-size : 50%;
    }

    .hero {
        grid-template-columns : 1fr;
        padding               : 0 8rem;
        gap                   : 6.4rem;
    }

    .hero-text-box,
    .hero-img-box {
        text-align : center;
    }

    .hero-img {
        width : 60%;
    }

    .delivered-meals {
        justify-content : center;
        margin-top      : 3.2rem;
    }

    .logos img {
        height : 2.4rem;
    }

    .step-number {
        font-size : 7.4rem;
    }

    .meal-content {
        padding : 2.4rem 3.2rem 3.2rem 3.2rem;
    }

    .section-testimonials {
        grid-template-columns : 1fr;
    }

    .gallery {
        grid-template-columns : repeat(6, 1fr);
    }

    .cta {
        grid-template-columns : 3fr 2fr;
    }

    .cta-form {
        grid-template-columns : 1fr;
    }

    .btn--form {
        margin-top : 1.2rem;
    }

    /* MOBILE NAVIGATION */
    .btn-mobile-nav {
        display : block;
        z-index : 9999;
    }

    .main-nav {
        position         : absolute;
        top              : 0;
        left             : 0;
        width            : 100%;
        height           : 100vh;
        transform        : translateX(100%);
        background-color : rgba(255, 255, 255, .8);
        backdrop-filter  : blur(10px);
        -webkit-backdrop-filter  : blur(5px);

        display          : flex;
        align-items      : center;
        justify-content  : center;
        transition       : all .5s ease-in;

        /* Hide navigation */
        /* display : none; */
        /* Allows NO transition at all donc on utilise les étapes suivantes : */

        /* 1) hide it visually */
        opacity          : 0;

        /* 2) make it unaccessible to mouse and keyboard */
        pointer-events   : none;

        /* 3) hide it from screen readers  */
        visibility       : hidden; /* permet de remplacer le display: none; */
    }

    /*
        la .nav-open est ajoutée via JS. Ceci permet donc de controler l'opacité
        si .nav-open existe, on met 1 sinon ça reste à 0
    */
    .nav-open .main-nav {
        opacity        : 1;
        pointer-events : auto;
        visibility     : visible;
        transform      : translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display : block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display : none;
    }

    .main-nav-list {
        flex-direction : column;
        gap            : 4.8rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size : 3rem;
    }
}

/**********************************/
/****** BELOW 704px (smaller Tablets) ********/
/**********************************/
@media (max-width : 44em) {
    .grid--3-cols, .grid--4-cols {
        grid-template-columns : repeat(2, 1fr);
    }

    .diets {
        grid-column  : 1 / -1;
        justify-self : center;
    }

    .heading-secondary {
        margin-bottom : 4.8rem;
    }

    .pricing-plan {
        width : 100%;
    }

    .grid--footer {
        grid-template-columns : repeat(6, 1fr);
    }

    .logo-col, .address-col {
        grid-column : span 3;
    }

    .nav-col {
        grid-row      : 1;
        grid-column   : span 2;
        margin-bottom : 3.2rem;
    }
}

/**********************************/
/****** BELOW 550px (phones) ********/
/**********************************/
@media (max-width : 34em) {
    .grid {
        row-gap : 4.8rem;
    }

    .grid--2-cols, .grid--3-cols, .grid--4-cols {
        grid-template-columns : repeat(1, 1fr);
    }

    .btn, .btn:link, .btn:visited {
        padding : 2.4rem 1.6rem;
    }

    .section-hero {
        padding : 2.4rem 0 6.4rem 0;
    }

    .hero {
        padding : 0 3.2rem;
    }

    .hero-img {
        width : 80%;
    }

    .logos {
        height : 1.2rem;
    }

    .step-img-box:nth-child(2) {
        grid-row : 1;
    }

    .step-img-box:nth-child(6) {
        grid-row : 5;
    }

    .step-img-box {
        transform : translateY(2.4rem);
    }

    .testimonials {
        grid-template-columns : 1fr;
    }

    .gallery {
        grid-template-columns : repeat(4, 1fr);
        gap                   : 1.2rem;
    }

    .cta {
        grid-template-columns : 1fr;
    }

    .cta-text-box {
        padding : 3.2rem;
    }

    /* On doit donner une height manuellement car la div n'a pas de contenu (background via CSS)*/
    .cta-img-box {
        grid-row : 1;
        height   : 32rem;
    }
}

/**********************************/
/****** Fixing flexbox gap on safari ********/
/**********************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
    margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
    margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
    margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
    margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
    margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
    margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
    margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
    margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
    .no-flexbox-gap .main-nav-list li:not(:last-child) {
        margin-right: 3.2rem;
    }
}

@media (max-width: 59em) {
    .no-flexbox-gap .main-nav-list li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4.8rem;
    }
}