/**********************************/
/****** HEADER ********/
/**********************************/

.header {
    position         : relative;
    display          : flex;
    justify-content  : space-between;
    align-items      : center;
    background-color : #fdf2e9;
    height           : 9.6rem; /* fixed height because we want header to be sticky later */
    padding          : 0 4.8rem;
}

.logo {
    height : 2.2rem;
}

/**********************************/
/****** NAVIGATION ********/
/**********************************/
.main-nav-list {
    display     : flex;
    gap         : 4.8rem;
    align-items : center;
    list-style  : none;
}

.main-nav-link:link,
.main-nav-link:visited {
    display         : inline-block;
    text-decoration : none;
    color           : #333;
    font-weight     : 500;
    font-size       : 1.8rem;
    transition      : all .3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color : #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding          : 1.2rem 2.4rem;
    border-radius    : 9px;
    color            : #fff;
    background-color : #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color : #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
    display    : none;
    border     : none;
    background : none;
    cursor     : pointer;
}

.icon-mobile-nav {
    height : 4.8rem;
    width  : 4.8rem;
    color  : #333;
}

.icon-mobile-nav[name="close-outline"] {
    display : none;
}

/* STICKY NAVIGATION */
.sticky .header {
    position         : fixed;
    top              : 0;
    bottom           : 0;
    width            : 100%;
    height           : 8rem;
    padding-top      : 0;
    padding-bottom   : 0;
    background-color : rgba(255, 255, 255, .97);
    box-shadow       : 0 1.2rem 3.2rem rgba(0, 0, 0, .03);
    z-index          : 999;
}

/* pour remplacer la nav quand elle est sticky */
.sticky .section-hero {
    margin-top : 9.6rem;
}

/**********************************/
/****** HERO SECTION ********/
/**********************************/

.section-hero {
    background-color : #fdf2e9;
    padding          : 4.8rem 0 9.6rem 0;
}

.hero {
    display               : grid;
    grid-template-columns : 1fr 1fr;
    align-items           : center;
    gap                   : 9.6rem;
    max-width             : 130rem;
    margin                : 0 auto;
    padding               : 0 3.2rem;
}


.hero-description {
    font-size     : 2rem;
    line-height   : 1.6;
    margin-bottom : 4.8rem;
}


.hero-img {
    width : 100%;
}


.delivered-meals {
    display     : flex;
    align-items : center;
    gap         : 1.6rem;
    margin-top  : 8rem;
}

.delivered-imgs {
    display : flex;
}

.delivered-imgs img {
    height        : 4.8rem;
    width         : 4.8rem;
    border-radius : 50%;
    margin-right  : -1.6rem;
    border        : 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
    margin : 0;
}

.delivered-text {
    font-size   : 1.8rem;
    font-weight : 600;
}

.delivered-text span {
    color       : #cf711f;
    font-weight : 700;
}

/**********************************/
/****** FEATURED IN SECTION ********/
/**********************************/

.section-featured {
    padding : 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    margin-bottom  : 2.4rem;
    font-size      : 1.4rem;
    text-transform : uppercase;
    letter-spacing : .75px;
    font-weight    : 500;
    text-align     : center;
    color          : #888;
}

.logos {
    display         : flex;
    justify-content : space-around;
}

.logos img {
    height  : 3.2rem;
    filter  : brightness(0);
    opacity : .5;
}


/**********************************/
/****** HOW IT WORKS SECTION ********/
/**********************************/

.section-how {
    padding : 9.6rem 0;
}

.step-number {
    margin-bottom : 1.2rem;
    font-size     : 8.6rem;
    font-weight   : 600;
    color         : #ddd;
}

.step-description {
    font-size   : 1.8rem;
    line-height : 1.8;
}

.step-img-box {
    position        : relative;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.step-img-box::before, .step-img-box::after {
    content       : "";
    position      : absolute;
    top           : 50%;
    left          : 50%;
    display       : block;
    transform     : translate(-50%, -50%);
    border-radius : 50%;
}

.step-img-box::before {
    width            : 60%;

    /* height: 60%; */
    /* 60% of parent's width */
    padding-bottom   : 60%;

    background-color : #fdf2e9;
    z-index          : -2;
}

.step-img-box::after {
    width            : 45%;
    padding-bottom   : 45%;
    background-color : #fae5d3;
    z-index          : -1;
}

.step-img {
    width : 35%;
}

/**********************************/
/****** MEALS SECTION ********/
/**********************************/

.section-meals {
    padding : 9.6rem 0;
}

.meal {
    box-shadow    : 0 2.4rem 4.8rem rgba(0, 0, 0, .03);
    border-radius : 11px;
    overflow      : hidden;
    transition    : all .4s;
}

.meal:hover {
    transform  : translateY(-1.2rem);
    box-shadow : 0 2.4rem 4.8rem rgba(0, 0, 0, .01);
}

.meal-content {
    padding : 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
    display       : flex;
    gap           : .4rem;
    margin-bottom : 1.2rem;
}

.tag {
    display        : inline-block;
    padding        : .4rem .8rem;
    font-size      : 1.2rem;
    text-transform : uppercase;
    color          : #333;
    border-radius  : 100px;
    font-weight    : 600;
}

.tag--vegetarian {
    background-color : #51cf66;
}

.tag--vegan {
    background-color : #94d82d;
}

.tag--paleo {
    background-color : #ffd43d;
}

.meal-title {
    margin-bottom : 3.2rem;
    font-size     : 2.4rem;
    color         : #333;
    font-weight   : 600;
}

.meal-attributes {
    display        : flex;
    flex-direction : column;
    gap            : 2rem;
    list-style     : none;
}

.meal-attribute {
    display     : flex;
    align-items : center;
    gap         : 1.6rem;
    font-size   : 1.8rem;
}

.meal-icon {
    height : 2.4rem;
    width  : 2.4rem;
    color  : #e67e22;
}

.meal-img {
    width : 100%;
}

.all-recipes {
    text-align : center;
    font-size  : 1.8rem;
}

/**********************************/
/****** TESTIMONIALS SECTION ********/
/**********************************/

.section-testimonials {
    display               : grid;
    grid-template-columns : 55fr 45fr;
    align-items           : center;
    background-color      : #fdf2e9;
}

.testimonials-container {
    padding : 9.6rem;
}

.testimonials {
    display               : grid;
    grid-template-columns : 1fr 1fr;
    row-gap               : 4.8rem;
    column-gap            : 8rem;
}

.testimonial-img {
    margin-bottom : 1.2rem;
    width         : 6.4rem;
    border-radius : 50%;
}

.testimonial-text {
    margin-bottom : 1.6rem;
    font-size     : 1.8rem;
    line-height   : 1.8;
}

.testimonial-name {
    font-size : 1.6rem;
    color     : #6f6f6f;
}

.gallery {
    display               : grid;
    grid-template-columns : repeat(3, 1fr);
    gap                   : 1.6rem;
    padding               : 1.6rem;
}

.gallery-item {
    overflow : hidden;
}

.gallery-item img {
    display    : block;
    width      : 100%;
    transition : all .4s;
}

.gallery-item img:hover {
    transform : scale(1.1);
}

/**********************************/
/****** MEALS SECTION ********/
/**********************************/

.section-pricing {
    padding : 9.6rem 0;
}

.pricing-plan {
    width         : 75%;

    border-radius : 11px;
}

.pricing-plan--starter {
    justify-self : end;
    padding      : 4.6rem;
    border       : 2px solid #fdf2e9;
}


.pricing-plan--complete {
    position         : relative;
    padding          : 4.8rem;
    background-color : #fdf2e9;
    overflow         : hidden;
}

.pricing-plan--complete::after {
    content          : "Meilleure offre";
    position         : absolute;
    top              : 8%;
    right            : -20%;
    padding          : .8rem 8rem;

    color            : #333;
    text-transform   : uppercase;
    font-size        : 1.4rem;
    font-weight      : 700;
    background-color : #ffd43d;
    transform        : rotate(45deg);
}

.plan-header {
    text-align    : center;
    margin-bottom : 4.8rem;
}

.plan-name {
    margin-bottom  : 3.2rem;
    color          : #cf711f;
    font-weight    : 600;
    font-size      : 2rem;
    text-transform : uppercase;
    letter-spacing : .75;
}

.plan-price {
    margin-bottom : 1.6rem;
    font-size     : 6.2rem;
    font-weight   : 600;
    color         : #333;
}

.plan-price span {
    margin-right : .8rem;
    font-size    : 3rem;
    font-weight  : 500;
}

.plan-text {
    font-size   : 1.6rem;
    line-height : 1.6;
    color       : #6f6f6f;
}

.plan-sign-up {
    margin-top : 4.8rem;
    text-align : center;
}

.plan-details {
    font-size   : 1.6rem;
    line-height : 1.6;
    text-align  : center;
}

.feature-icon {
    margin-bottom    : 3.2rem;
    padding          : 1.6rem;
    border-radius    : 50%;
    height           : 3.2rem;
    width            : 3.2rem;
    color            : #e67e22;
    background-color : #fdf2e9;
}

.feature-title {
    margin-bottom : 1.6rem;
    font-size     : 2.4rem;
    color         : #333;
    font-weight   : 700;
}

.feature-text {
    font-size   : 1.8rem;
    line-height : 1.8;
}


/**********************************/
/****** CTA SECTION ********/
/**********************************/

.section-cta {
    padding : 4.8rem 0 12.8rem;
}

.cta {
    display               : grid;
    grid-template-columns : 2fr 1fr;
    box-shadow            : 0 2.4rem 4.8rem rgba(0, 0, 0, .15);
    border-radius         : 11px;
    background-image      : linear-gradient(to right bottom, #eb984e, #e67e22);
    overflow              : hidden;
}

.cta-text-box {
    padding : 4.8rem 6.4rem 6.4rem 6.4rem;
    color   : #45260a;
}

.cta .heading-secondary {
    margin-bottom : 3.2rem;
    color         : #45260a;
}

.cta-text {
    margin-bottom : 4.8rem;
    font-size     : 1.8rem;
    line-height   : 1.8;
}

.cta-img-box {
    background-image    : linear-gradient(
            to right bottom,
            rgba(235, 152, 78, .35),
            rgba(230, 126, 34, .35)),
    url("../img/eating.jpg");
    background-size     : cover;
    background-position : center;
}

.cta-form {
    display               : grid;
    grid-template-columns : 1fr 1fr;
    column-gap            : 3.2rem;
    row-gap               : 2.4rem;
}

.cta-form label {
    display       : block;
    margin-bottom : 1.2rem;
    font-size     : 1.6rem;
    font-weight   : 500;
}

.cta-form input,
.cta-form select {
    width            : 100%;
    padding          : 1.2rem;
    font-size        : 1.8rem;
    font-family      : inherit;
    color            : inherit;
    border           : none;
    background-color : #fdf2e9;
    border-radius    : 9px;
    box-shadow       : 0 1px 2px rgba(0, 0, 0, .1);
}

.cta-form input::placeholder {
    color : #aaa;
}

.cta *:focus {
    outline    : none;
    box-shadow : 0 0 0 .8rem rgba(253, 242, 233, 0.5);
}

/**********************************/
/****** FOOTER ********/
/**********************************/
.footer {
    padding    : 12.8rem 0;
    border-top : 1px solid #ddd;
}

.grid--footer {
    grid-template-columns : 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
    display        : flex;
    flex-direction : column;
}

.footer-logo {
    display       : block;
    margin-bottom : 3.2rem;
}

.social-links {
    display    : flex;
    gap        : 2.4rem;
    list-style : none;
}

.social-icon {
    height : 2.4rem;
    width  : 2.4rem;
}

.copyright {
    margin-top  : auto;
    font-size   : 1.4rem;
    line-height : 1.6;
    color       : #767676;
}

.footer-heading {
    margin-bottom : 4rem;
    font-size     : 1.8rem;
    font-weight   : 500;
}

.contacts {
    font-style  : normal;
    font-size   : 1.6rem;
    line-height : 1.6;
}

.address {
    margin-bottom : 2.4rem;
}

.footer-nav {
    display        : flex;
    flex-direction : column;
    gap            : 2.4rem;
    list-style     : none;
}

.footer-link:link,
.footer-link:visited {
    text-decoration : none;
    font-size       : 1.4rem;
    color           : #767676;
    transition      : all .3s;
}

.footer-link:hover,
.footer-link:active {
    color : #555;
}